extends layout/header
block content
    div(align="center")
        small Search results
    div.list-group-separator
    div
        each v, ind in items
            div.panel.panel-body
                if(v.type == 'user')
                    div.permalink
                        a.parmalink(href="/users/" + "#{v.data.name}") permalink
                            img.permalink(src="/images/permalink-icon.png")
                    p.text-info USER
                    a(href="/users/" + "#{v.data.name}") #{v.data.displayName} (#{v.data.name})
                if(v.type == 'post')
                    div.permalink
                        a.parmalink(href="/posts/" + "#{v.data._id}") permalink
                            img.permalink(src="/images/permalink-icon.png")
                    a(href="/posts/" + "#{v.data._id}") POST (#{v.data.categories[0]})

                    p!=  v.data.data
block script
    script(src="/ckeditor.js")
    script(src="/js/postsApp.js")