doctype html
html(lang= "en")
    head
        meta(charset="UTF-8")
        //mea(http-equiv="content-type", content="charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href="/material/css/roboto.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        //link(rel='stylesheet' media='screen and (min-width: 101px) and (max-width: 900px)' href='css/style-medium.css' )
        link(href="/css/sidebar.css" rel="stylesheet")
        link(href="/material/css/material.css" rel="stylesheet")
        link(href="/material/css/ripples.min.css" rel="stylesheet")
        link(href="/css/tooltipster.css" rel="stylesheet")
        link(href="/css/header.css" rel="stylesheet")
        link(href="/css/dimensions.css" rel="stylesheet")
        link(rel="shortcut icon" href="/images/ico.png")
        script(src='/scripts/angular.min.js')
        script(src='/scripts/jquery-1.10.2.min.js')
        script(src='/scripts/jquery.headtacular.min.js')
        script(src='/scripts/jquery.tooltipster.min.js')
        script var lang = 'EN';

        title #{title}

    meta(name="viewport" content="width=device-width")
    body
        header.header
            div.language-selector
                div.form-group
                    a.text-primary(id="lang-switch" href="#") #{trans['lang']}
            //div.header-logo-common(href="/")
                div(align="center" style="margin:0;")
                    div.header-logo-block(style="display: inline-block;")
                        p(align="center" style="margin:0;")
                            a(href="/")
                                img.header-logo(src="/images/dus-small.png")
                        p(align="center" style="margin:0;")
                            a(href="/")
                                img.header-logo-descr(src="/images/dus-descr.jpg")
            a.header-logo-common(href="/")
                p(align="center" style="margin:0;")
                    img.header-logo(src="/images/dus-small.png")
                p(align="center" style="margin:0;")
                    img.header-logo-descr(src="/images/dus-descr.jpg")
            hr
            div.container.header-container
                if(isLoggedIn)
                    div.user-image-area
                        if(user.imageUrl)
                            img.img-circle.main-user-avatar(src="#{user.imageUrl}" href="/profile")
                        else
                            img.img-circle.main-user-avatar(src="/images/default-user-icon-profile.png" href="/profile")
                        div(align="center")
                            a.text-primary.logout-text(align="center" href="/login/logout" style="margin:15px;") #{trans['logout']}
                div.row.menu-row
                    div.col-xs-9
                        nav.navbar.navbar-default
                            ul.nav.navbar-nav
                                i.mdi-home
                                if isLoggedIn
                                    li.menu-link-li(style="")
                                        a.menu-link(href="/home" style="left:0px;")
                                            | #{trans['home']}
                                    li.menu-link-li
                                        a.menu-link(href="/profile" style="left:0px;")
                                            | #{trans['profile']}
                                    li.menu-link-li
                                        a.menu-link(href="/Library")
                                            | #{trans['library']}
                                        ul.dropdown-menu
                                            li
                                                a(href="/library#all")
                                                    | #{trans['all']}
                                            each val, index in sectionsLibrary
                                                li
                                                    a(href="/library#" + val._id)
                                                        | #{val.name}
                                    li.menu-link-li
                                        a.menu-link(href="/Courses")
                                            | #{trans['courses']}
                                        ul.dropdown-menu
                                            li
                                                a(href="/courses#all")
                                                    | #{trans['all']}
                                            each val, index in sectionsCourse
                                                li
                                                    a(href="/courses#" + val._id)
                                                        | #{val.name}
                                    li.menu-link-li
                                        a.menu-link(href="/Glossary")
                                            | #{trans['glossary']}
                                        ul.dropdown-menu
                                            li
                                                a(href="/glossary#all")
                                                    | #{trans['all']}
                                            each val, index in sectionsGlossary
                                                li
                                                    a(href="/glossary#" + val._id)
                                                        | #{val.name}
                                    if(user.isAdmin)
                                        li.menu-link-li
                                            a.menu-link(href="#" style="left:0px;")
                                                | #{trans['menuplus']}
                                            ul.dropdown-menu
                                                li
                                                    a(href="/posts")
                                                        | #{trans['allcontent']}
                                                li
                                                    a(href="/users")
                                                        | #{trans['usersmanagement']}
                                                li
                                                    a(href="/sections")
                                                        | #{trans['sections']}
                    div.col-xs-3.text-right.right-nav
                        form.pull-left.menu-link-li.search-form(style="padding-bottom:16px;")
                            input.form-control.col-lg-8(type="text" placeholder="Search" id="searchtext")

                    if isLoggedIn
                        span.header-user-name
                            p(align="center" style="margin:5px;") #{user.displayName}
                    span
                        if isLoggedIn
                            //a.pull-right.login-logout(href="/login/logout")
                            //    | Logout
                        else
                            a.pull-right.login-logout.login-text(href="/login")
                                //| login
                                | #{trans['login']}

        include sidebar
        div.container.main-content(style="")
            div.row
                div.col-md-12
                    block content

        include footer
    script var trans = !{JSON.stringify(trans)};
    script var trans = !{JSON.stringify(trans)};
    script(src='/js/common.js')
    script(src='/js/sidebar.js')