doctype html
html(lang= "ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href="/material/css/roboto.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/material/css/material.css" rel="stylesheet")
        link(href="/material/css/ripples.min.css" rel="stylesheet")
        link(rel="shortcut icon" href="/images/ico.png")
        script(src='/scripts/angular.min.js')
        title #{title}
    body
        header
            a(href="/")
                img.header-image(src="/images/h.png")
            hr
            div.container
                if(isLoggedIn)
                    div.user-image-area
                        if(user.imageUrl)
                            img.img-circle.main-user-avatar(src="#{user.imageUrl}" href="/profile")
                        else
                            img.img-circle.main-user-avatar(src="/images/default-user-icon-profile.png" href="/profile")
                        //div(align="center")
                        //    p.text-primary(align="center" style="margin:5px;") #{user.displayName}
                        div(align="center")
                            a.text-primary(align="center" href="/login/logout" style="margin:15px;") log out
                div.row.header-row
                    div.col-xs-9
                        nav.navbar.navbar-default
                            ul.nav.navbar-nav
                                i.mdi-home
                                if isLoggedIn
                                    li
                                        a(href="/home" style="left:-42px;")
                                            span
                                                | Home
                                    li
                                        a(href="/profile")
                                            span
                                                | Profile
                                    li
                                        a(href="/Library")
                                            span
                                                | Library
                                        ul.dropdown-menu
                                            each val, index in sections
                                                li
                                                    a(href="/library#" + val._id)
                                                        | #{val.name}
                                    li
                                        a(href="/Courses")
                                            span
                                                | Courses
                                    li
                                        a(href="/Glossary")
                                            span
                                                | Glossary
                                    if(user.isAdmin)
                                        li
                                            a(href="#" style="left:50px;")
                                                span
                                                    | menu+
                                            ul.dropdown-menu
                                                li
                                                    a(href="/posts")
                                                        | All content
                                                li
                                                    a(href="/users")
                                                        | Users Management
                                                li
                                                    a(href="/sections")
                                                        | Library Sections
                    div.col-xs-3.text-right.right-nav
                        form.pull-right
                            input.form-control.col-lg-8(type="text" placeholder="Search" id="searchtext")

                    if isLoggedIn
                        span.header-user-name
                            p(align="center" style="margin:5px;") #{user.displayName}
                    span
                        if isLoggedIn
                            //a.pull-right.login-logout(href="/login/logout")
                            //    | Logout
                        else
                            a.pull-right.login-logout(href="/login")
                                | login
        div.container
            div.row
                div.col-md-12
                    block content

        include footer
    script(src='/js/common.js')