doctype html
html(lang= "en")
    head
        meta(charset="UTF-8")
        //mea(http-equiv="content-type", content="charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href="/material/css/roboto.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/css/menu.css" rel="stylesheet")
        //link(rel='stylesheet' media='screen and (min-width: 101px) and (max-width: 900px)' href='css/style-medium.css' )
        link(href="/css/sidebar.css" rel="stylesheet")
        link(href="/material/css/material.css" rel="stylesheet")
        link(href="/material/css/ripples.min.css" rel="stylesheet")
        link(href="/css/tooltipster.css" rel="stylesheet")
        link(href="/css/header.css" rel="stylesheet")
        link(href="/css/dimensions.css" rel="stylesheet")
        link(rel="shortcut icon" href="/images/ico.png")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css')
        script(src='/scripts/angular.min.js')
        script(src='/scripts/jquery-1.10.2.min.js')
        script(src='/scripts/jquery.headtacular.min.js')
        script(src='/scripts/jquery.tooltipster.min.js')
        script var lang = 'EN';
        //script var UPLOADCARE_PUBLIC_KEY2 = #{uploadcarekey};
        //script console.log('>>>>>', "'"+ #{uploadcarekey} + "'");

        title #{title}

    meta(name="viewport" content="width=device-width")
    body
        header.header
            div.language-selector
                div.form-group
                    a.header-text-small.text-primary(id="lang-switch" href="#") #{trans['lang']}
            a.back-to-top(href="#")
                | #{trans['backtotop']}
            a.header-logo-common(href="/")
                div.logo-div
                    p(align="center" style="margin:0;")
                        img.header-logo(src="/images/dus-small.png")
                p(align="center" style="margin:0;")
                    img.header-logo-descr(src="/images/dus-descr.jpg")
            if(isLoggedIn)
                div.user-image-area
                    if(user.imageUrl)
                        a(href="/profile")
                            img.img-circle.main-user-avatar(src="#{user.imageUrl}" )
                    else
                        a(href="/profile")
                            img.img-circle.main-user-avatar(src="/images/default-user-icon-profile.png" href="/profile")
                    div(align="center")
                        a.text-primary.logout-text.header-text-small(align="center" href="/login/logout" style="margin:15px;") #{trans['logout']}
                        p(style="padding-top:6px;")
                            a.text-primary.logout-text.header-text-small.username(align="center" style="margin:5px;text-transform: uppercase;" href="/profile") #{user.displayName}

            hr
            div.menu-container
                div(id="cssmenu")
                    ul
                        if isLoggedIn
                            if(user.isAdmin)
                                li.has-sub
                                    a(href="/" style="left:0px;")
                                        | #{trans['home']}
                                    ul
                                        li
                                            a(href="/posts")
                                                span
                                                    | #{trans['allcontent']}
                                        li
                                            a(href="/users")
                                                span
                                                    | #{trans['usersmanagement']}
                                        li
                                            a(href="/sections")
                                                span
                                                    | #{trans['sections']}
                            else
                                li
                                    a(href="/" style="left:0px;")
                                        | #{trans['home']}
                            li.has-sub
                                a(href="/Library")
                                    span
                                        | #{trans['library']}
                                ul
                                    li
                                        a(href="/library#all")
                                            span
                                                | #{trans['all']}
                                    each val, index in sectionsLibrary
                                        li
                                            span
                                                a(href="/library#" + val._id)
                                                    | #{val.name}
                            li.has-sub
                                a(href="/Courses")
                                    span
                                        | #{trans['courses']}
                                ul
                                    li
                                        a(href="/courses#all")
                                            span
                                                | #{trans['all']}
                                    each val, index in sectionsLibrary
                                        li
                                            span
                                                a(href="/courses#" + val._id)
                                                    | #{val.name}
                            li.has-sub
                                a(href="/Glossary")
                                    span
                                        | #{trans['glossary']}
                                ul
                                    li
                                        a(href="/glossary#all")
                                            span
                                                | #{trans['all']}
                                    each val, index in sectionsLibrary
                                        li
                                            span
                                                a(href="/glossary#" + val._id)
                                                    | #{val.name}
                            li
                                a(href="/Students" style="left:0px;")
                                    | #{trans['students']}
                            li
                                a(href="/multimedia" style="left:0px;")
                                    | #{trans['multimedia']}
                        else
                            li
                                a(href="/" style="left:0px;")
                                    | #{trans['home']}
                            li.has-sub
                                a(href="/Library")
                                    span
                                        | #{trans['library']}
                                ul
                                    li
                                        a(href="/library#all")
                                            span
                                                | #{trans['all']}
                                    each val, index in sectionsLibrary
                                        li
                                            span
                                                a(href="/library#" + val._id)
                                                    | #{val.name}
                            li.has-sub
                                a(href="/Courses")
                                    span
                                        | #{trans['courses']}
                                ul
                                    li
                                        a(href="/courses#all")
                                            span
                                                | #{trans['all']}
                                    each val, index in sectionsLibrary
                                        li
                                            span
                                                a(href="/courses#" + val._id)
                                                    | #{val.name}
                            li.has-sub
                                a(href="/Glossary")
                                    span
                                        | #{trans['glossary']}
                                ul
                                    li
                                        a(href="/glossary#all")
                                            span
                                                | #{trans['all']}
                                    each val, index in sectionsLibrary
                                        li
                                            span
                                                a(href="/glossary#" + val._id)
                                                    | #{val.name}
                            li
                                a(href="/Students" style="left:0px;")
                                    | #{trans['students']}
                            li
                                a(href="/multimedia" style="left:0px;")
                                    | #{trans['multimedia']}
                span
                    if isLoggedIn
                    else
                        a.pull-right.login-logout.login-text(href="/login" style="color: #fff;")
                            | #{trans['login']}
                        a.pull-right.login-logout.login-text.signup(href="/signup" style="margin-right:10px;color: #fff;position: absolute; right: 30px; top: 79px;")
                            | #{trans['signup']}
                div.search-container
                    form.search-form
                        input.form-control(type="text" placeholder="Search" id="searchtext")
            include sidebar
        //div.container.main-content(style="")
        //    div.row
        //        div.col-md-12
        //            block content
        div.post-container
            block content

        include footer
    script var trans = !{JSON.stringify(trans)};
    script(src='/js/common.js')
    script(src='/js/sidebar.js')